<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>Insert title here</title>
</head>
<body>
    <div id="button">
           <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addModal">Add</button>
    </div>   
    <div>
         <form th:action="@{/}">
              <select name="jenis" id="jenis">
                    <option value="All">All</option>
                    <option name="selectedJenisUniversitas" id="selectedJenisUniversitas" th:each="jenisModel : ${ListJenisModel}" th:value="${jenisModel.jenis}" th:text="${jenisModel.jenis}"></option>
              </select>
         <input type="submit" class="btn btn-secondary" value="Search" id="searchButton"></button>
         </form>
    </div>
    <div class="modal fade" id="addModal" role="dialog">
         <div class="modal-dialog">
             <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Data</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="post" action="save">
                        <div class="form-group">
                            <label for="Nama Universitas">Nama Universitas</label>
                            <input type="text" class="form-control" name="NamaUniversitas">
                        </div>
                        <div>
                            <label for="Jenis Universitas">Jenis Universitas</label>
                        </div>
                        <ul style="list-style-type: none">
                             <li th:each="jenisModel: ${ListJenisModel}">
                                <input type="radio" name="JenisUniversitas" th:value="${jenisModel.jenis}" />
                                <label th:for="${jenisModel.jenis}" th:text="${jenisModel.jenis}" ></label>  
                            </li>
                        </ul>
                            
                            <br>
                        <div class="modal-footer">
                             <input type="submit" value="Save">
                        </div>
                    </form>
                </div>
             </div>
         </div>
    </div>
    <div class="modal fade" id="editModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title">Edit Data</h4>
             <button type="button" class="close" data-dismiss="modal">&times;</button>     
          </div>
          <div class="modal-body">
               <form method="post" action="edit">
                   <div class="form-group">
                         <input type="text" class="form-control" style="display:none" name="id" id="editId"> 
                   </div>
                   <div class="form-group">
                        <label for="Nama Universitas">Nama Universitas</label>
                        <input type="text" class="form-control" name="NamaUniversitas" id="editNamaUniversitas">
                   </div>
                   <div>
                         <label for="Jenis Universitas">Jenis Universitas</label>
                   </div>
                        <ul style="list-style-type: none">
                             <li th:each="jenisModel: ${ListJenisModel}">
                                <input type="radio" name="editJenisUniversitas" th:value="${jenisModel.jenis.replace(' ','-')}" />
                                <label th:for="${jenisModel.jenis}" th:text="${jenisModel.jenis}" name="labelJenisUniversitas"></label>  
                            </li>
                        </ul>                            
                        <br>
                        <div class="modal-footer">
                             <input type="submit" value="Save">
                        </div>
               </form>
           </div>
         </div>
      </div>
    </div>
    <div class="modal fade" id="viewModal" role="dialog">
       <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                <h4 class="modal-title">View Data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>     
             </div>
             <div class="modal-body">
                <div class="form-group">
                    <label for="NamaUniversitas">Nama Universitas</label><br>
                    <label id="viewNamaUniversitas"></label>
                </div>
                <div class="form-group">
                    <label for="JenisUniversitas">Jenis Universitas</label><br>
                    <label id="viewJenisUniversitas"></label>
                </div>
             </div>
         </div>
       </div>
    </div>
    <div>
       <table class="table table-border" id="tabeldata">
           <tr>
              <td>Nama Universitas</td>
              <td>Jenis Universitas</td>
              <td>Edit</td>
              <td>Delete</td>
              <td>View</td>
           </tr>
           <tr th:each="universitasModel:${ListUniversitasModel}" class="row-select" id="all">
              <td class="Id" style="display:none"><a th:text="${universitasModel.Id}"></a></td>
              <td class="NamaUniversitas"><a th:text="${universitasModel.NamaUniversitas}"></a></td>
              <td class="JenisUniversitas"><a th:text="${universitasModel.JenisUniversitas}"></a></td>
              <td><Button type="button" class="btn btn-secondary editButton" data-toggle="modal" data-target="#editModal">Edit</Button></td>
              <td><Button type="button" class="btn btn-secondary deleteButton">Delete</Button></td>
              <td><Button type="button" class="btn btn-secondary viewButton" data-toggle="modal" data-target="#viewModal">View</Button></td>
           </tr>
           <tr th:each="universitasModel:${ListUniversitasModel}" class="row-select" id="search"  style="display: none">
              <td class="Id" style="display:none"><a th:text="${universitasModel.Id}"></a></td>
              <td class="NamaUniversitas"><a th:text="${universitasModel.NamaUniversitas}"></a></td>
              <td class="JenisUniversitas"><a th:text="${universitasModel.JenisUniversitas}"></a></td>
              <td><Button type="button" class="btn btn-secondary editButton" data-toggle="modal" data-target="#editModal">Edit</Button></td>
              <td><Button type="button" class="btn btn-secondary deleteButton">Delete</Button></td>
              <td><Button type="button" class="btn btn-secondary viewButton" data-toggle="modal" data-target="#viewModal">View</Button></td>
           </tr>
       </table>
       <p align="center" style="display: none" id="display"> Tidak ada data untuk ditampilkan</p>
    </div>
<script th:inline="javascript">
var row = document.getElementById("tabeldata").rows.length-1;
if(row==0){
document.getElementById("display").style="block";
}

$(document).ready(function(){
	    var i ;
	    var ListData;
		$(".deleteButton").click(function(){
			ListData = [[${ListUniversitasModel}]];
			i = $(this).closest("tr").index()-1;
			var selectedId = ListData[i].id;
			$.ajax({
				url         : '/DataUniversitas/delete',
				type        : 'post',
				data        : JSON.stringify(selectedId),
				async       : false,
		        dataType    : "text",
		        contentType : "application/json",
		        success     : function (result) {
					             alert("sukses hapus data");
				 	             $(document).ajaxStop(function(){
	    				         window.location.reload();
	    				     });  
				}, 
				 error      : function (XMLHttpRequest, textStatus, errorThrown) {
	                             alert("tidak sukses hapus data");     
	             }
			})
		}) 
})	



$(document).ready(function(){
	var i;
	var ListData;
	$(".viewButton").click(function(){
		i = $(this).closest("tr").index()-1;
		ListData = [[${ListUniversitasModel}]];
		var selectedNamaUniversitas  = ListData[i].namaUniversitas;
		var selectedJenisUniversitas = ListData[i].jenisUniversitas;
		document.getElementById("viewNamaUniversitas").innerHTML  = selectedNamaUniversitas;
		document.getElementById("viewJenisUniversitas").innerHTML = selectedJenisUniversitas; 
	})
})




$(document).ready(function(){
	   var i;
       var ListData;    
       $(".editButton").click(function(){
	       i = $(this).closest("tr").index()-1;
	       ListData = [[${ListUniversitasModel}]];
	       var selectedId               = ListData[i].id;
	       var selectedNamaUniversitas  = ListData[i].namaUniversitas;
	       var selectedJenisUniversitas = ListData[i].jenisUniversitas;
	       var mySelect   = document.getElementsByName('editJenisUniversitas');
 	       $('#editId').val(selectedId);
	       $('#editNamaUniversitas').val(selectedNamaUniversitas); 
		   for(var i = 0;i < mySelect.length;i++){
			   if(selectedJenisUniversitas.replace(" ","-") == mySelect[i].value){  
				 $("input[name=editJenisUniversitas][value="+mySelect[i].value+"]").prop('checked', true);
				 break; 
				} 
			} 
      })
	})

/* $(document).ready(function(){
	$("#searchButton").click(function(){
		var selectedJenisUniversitas = $('#jenis option:selected').val();
		alert(selectedJenisUniversitas);
	    $.ajax({
		url         : '/DataUniversitas/',
	    type        : 'post',
		data        : JSON.stringify(selectedJenisUniversitas),
		async       : false,
		dataType    : "text",
		contentType : "application/json",
		success     : function (result) {
					     alert("sukses cari data");
				}, 
		error      : function (XMLHttpRequest, textStatus, errorThrown) {
	                     alert("tidak sukses cari data");     
	             }	    	
	    })
	})
}) 
 */


</script>
</body>
</html>